[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "emacs.d/lisp/org-log-to-jira"]
	path = emacs.d/lisp/org-log-to-jira
	url = git@github.com:joranvar/org-log-to-jira
	branch = master
[submodule "emacs.d/lisp/nnreddit"]
	path = emacs.d/lisp/nnreddit
	url = github:paul-issartel/nnreddit
